body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #edc6c6;
}

/* Barra superior */
.barra-superior {
  background: #e9708e;
  color: white;
  text-align: center;
  padding: 0.1px 0;
  font-size: 18px;
}

/* Menú */
.menu {
  background: #e6e6e6;
  padding: 5px 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.menu .logo {
  width: 250px;
}

.menu ul {
  display: flex;
  list-style: none;
  gap: 30px;
  
}

.menu li {
  font-size: 20px;
  margin: 20px;
  margin-left: 10px;
}

/* Foto inicio */
.inicio img {
  width: 70%;
  display: block;
  margin: 40px auto;
  border-radius: 40px;
}

/* Bloques generales */
.bloque {
  padding: 60px 120px;
  text-align: center;
}

.bloque.alt {
  background: #f7f7d29f;
}

.bloque h2 {
  font-size: 50px;
  color: #4c689c;
}

/* Selector de categorías */
.selector {
  margin: 20px 0 40px;
  display: flex;
  justify-content: center;
  gap: 20px;
}

.btn {
  border: none;
  padding: 14px 28px;
  border-radius: 20px;
  font-size: 20px;
  color: white;
  margin-right: 130px;
}

.btn.rosa { 
 background: rgba(233,112,142,0.75); 
 margin-right: 100px;
 margin-left: 100px;
}
.btn.azul { 
  background: rgba(76,104,156,0.75);
  margin-right: 80px ; 
  margin-left: 60px;
}
.btn.verde { 
 background: rgba(88,176,144,0.75); 
 margin-left: 100px;
 margin-right: 150px;
}

/* Productos */
.productos {
  display: flex;
  justify-content: center;
  gap: 120px;
  margin-top: 30px;
}

.cuadro {
  width: 250px;
  background: white;
  border-radius: 30px;
  padding-bottom: 15px;
}

.cuadro img {
  width: 100%;
  height: 250px;
  border-radius: 30px 30px 0 0;
  gap: 120px;
  object-fit:contain;
}

.cuadro h3 {
  margin: 10px 0;
}

.cuadro p {
  font-size: 14px;
  padding: 0 10px;
}

/* Opiniones */
.opiniones {
  padding: 60px 120px;
  text-align: center;
}

.opiniones h2 {
  font-size: 50px;
  color: #4c689c;
}

.opiniones-grid {
  display: flex;
  justify-content: center;
  gap: 50px;
  margin-top: 40px;
}

.opinion {
  background: rgba(248,142,168,0.26);
  padding: 20px;
  width: 260px;
  border-radius: 40px;
}

.perfil {
  width: 60px;
  border-radius: 50%;
}

html, body {
  margin: 0;
  padding: 0;
}

/* ====   Footer   ====*/
.footer {
  position: relative;
  width: 100%;
  height: 260px; 
  margin-top: 40px;
}

.footer-title {
  position: absolute;
  top: 10px;     
  left: 50%;
  transform: translateX(-50%);
  margin: 0;
  text-align: center;
  font: 400 30px/1 sans-serif;
  color: #4c689c;
}

.footer-fondo {
  position: absolute;
  top: 80px;    
  left: 5px;
  right: 11px;   
  height: 180px;
  background: #e6e6e6;
  border-radius: 2px;
}

.footer-img {
  margin-left: 60px;
  position: absolute;
  height: 53px;
  width: 53px;
  object-fit:contain;
  top: 95px;
}
.footer-img-1 { 
  left: 196px; width: 71px; 
}      /* image9 */
.footer-img-2 {
  left: 379px; width: 75.761px; height: 52.669px; /* image5 */
 
}
.footer-img-3 { 
  left: 563px; 
}                 
.footer-img-4 { 
  left: 719px; 
}                  
.footer-img-5 { 
  left: 877px; width: 45px; 
}      
.footer-img-6 { 
  left: 1046px; 
}
.footer-img-7 { 
  left: 1202px; 
}                   

.footer-mapa {
  margin-left: 100px;
  position: absolute;
  top: 174px;
  left: 8px;
  width: 1272px;
  height: 99px;
  align-content: center;
}